alias ferjgar='(cd {{ vagrant_synced_folder }} && source /home/vagrant/.rvm/scripts/rvm && bundle exec jekyll serve --host 0.0.0.0)'

# probably we'd do this 99% of the times we connect to the VM
cd {{ vagrant_synced_folder }}
